.d-border{
  border-bottom: solid 1px #000;
}
a{
 color: #000! important;
}

.showing{
  border: dashed 1px red;
}
body{
  margin-top:73px
}

.visible{
  border: 1px solid #000;
  border-top: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 3px 3px 1px #AAA7A7;
}

.nav-link.active{
  color: #920000! important;
  font-weight: bold
}
.btn-black{
  background-color: #000;
  color:#fff! important;
}
.card:hover{
  box-shadow: 1px 1px 1px 1px #666;
}

#map {
  height: 400px;
  width: 100%;
 }


 @media only screen and (min-width: 768px) {
 .hidden-from-pc{
   display: none;
 }
}

.list-group-item{
  border: none! important;
}

.card-img-top{
  height: 200px;
}

.toggle-name:hover{
  cursor: pointer
}